<div class="col-lg-12">
<%= render 'shared/workshop' ,workshops:@upcoming_workshops ,
 section_title:'Upcoming workshops'%>

<%= render 'shared/workshop' ,workshops:@past_workshops , 
section_title:'Past workshops'%>

</div>
